In [1]:
import numpy as np
import pandas as pd

## Reading the data

In [2]:
new=pd.read_csv('EduData.csv')

In [3]:
new

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,T,Father,5,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

## Calculating mode of the column 'Topic'

In [4]:
new['Topic'].mode()

0    IT
Name: Topic, dtype: object

In [5]:
new['Topic'].isna().sum()

0

## Replacing '?' with null values

In [6]:
new.replace("?", (np.nan),inplace=True)

In [7]:
new['Topic'].isna().sum()

2

## Replacing null values in the column 'Topic' with mode

In [8]:
new["Topic"].replace(np.nan, 'IT',inplace=True)

In [9]:
new['Topic'].isna().sum()

0

In [10]:
new['Relation'].isna().sum()

8

## Dropping the rows with row_value==null in the column 'Relation'

In [11]:
new.dropna(subset = ["Relation"], axis = 0, inplace = True)

In [12]:
new['Relation'].isna().sum()

0

In [13]:
new['GradeID'].isna().sum()

2

## Dropping the rows with row_value==null in the column 'GradeID'

In [14]:
new.dropna(subset = ["GradeID"], axis = 0, inplace = True)

In [15]:
new['GradeID'].isna().sum()

0

In [16]:
new['raisedhands'].describe()

count     468
unique     82
top        10
freq       29
Name: raisedhands, dtype: object

In [17]:
mean_hands=new['raisedhands'].astype('float').mean()
## mean of the values in the column 'raisedhands'

In [18]:
mean_hands

46.83119658119658

In [19]:
new["raisedhands"].replace(np.nan, 46.8311,inplace=True)
## replacing null values with mean

# Function to detect outliers in data

In [20]:
def find_outliers_IQR(new):

   q1=new.quantile(0.25)

   q3=new.quantile(0.75)

   IQR=q3-q1

   outliers = new[((new<(q1-1.5*IQR)) | (new>(q3+1.5*IQR)))]

   return outliers

In [21]:
new.dtypes

gender                      object
NationalITy                 object
PlaceofBirth                object
StageID                     object
GradeID                     object
SectionID                   object
Topic                       object
Semester                    object
Relation                    object
raisedhands                 object
VisITedResources             int64
AnnouncementsView            int64
Discussion                   int64
ParentAnsweringSurvey       object
ParentschoolSatisfaction    object
StudentAbsenceDays          object
Class                       object
dtype: object

In [22]:
new[["raisedhands"]] = new[["raisedhands"]].astype("float")

In [23]:
new.dtypes

gender                       object
NationalITy                  object
PlaceofBirth                 object
StageID                      object
GradeID                      object
SectionID                    object
Topic                        object
Semester                     object
Relation                     object
raisedhands                 float64
VisITedResources              int64
AnnouncementsView             int64
Discussion                    int64
ParentAnsweringSurvey        object
ParentschoolSatisfaction     object
StudentAbsenceDays           object
Class                        object
dtype: object

## Detecting outliers in the variables

In [24]:
outliers = find_outliers_IQR(new['raisedhands'])

In [25]:
outliers

Series([], Name: raisedhands, dtype: float64)

In [26]:
outliers_1=find_outliers_IQR(new['VisITedResources'])

In [27]:
outliers_1

Series([], Name: VisITedResources, dtype: int64)

In [28]:
outliers_2=find_outliers_IQR(new['AnnouncementsView'])
outliers_2

Series([], Name: AnnouncementsView, dtype: int64)

In [29]:
outliers_3=find_outliers_IQR(new['Discussion'])
outliers_3

Series([], Name: Discussion, dtype: int64)

In [30]:
new['Semester'].value_counts()
## Detecting outliers in the column 'Semester'

F    240
S    228
T      2
Name: Semester, dtype: int64

In [31]:
new[["Semester"]] = new[["Semester"]].astype("string")

In [32]:
new.drop(new.index[new['Semester'] == 'T'], inplace = True)
## Removing the outliers by dropping the rows

In [33]:
new['Semester'].value_counts()

F    240
S    228
Name: Semester, dtype: Int64

## Dropping the column 'ParentAnsweringSurvey'

In [34]:
new.drop(['ParentAnsweringSurvey'], axis=1,inplace=True)

In [35]:
new.dtypes

gender                       object
NationalITy                  object
PlaceofBirth                 object
StageID                      object
GradeID                      object
SectionID                    object
Topic                        object
Semester                     string
Relation                     object
raisedhands                 float64
VisITedResources              int64
AnnouncementsView             int64
Discussion                    int64
ParentschoolSatisfaction     object
StudentAbsenceDays           object
Class                        object
dtype: object

## Normalising all values in the columns 'raisedhands' & 'VisITedResources'

In [36]:
new['raisedhands']=new['raisedhands'].astype('float')-new['raisedhands'].astype('float').mean()/(new['raisedhands'].astype('float').max()-new['raisedhands'].astype('float').min())

In [37]:
new['VisITedResources']=new['VisITedResources'].astype('float')-new['VisITedResources'].astype('float').mean()/(new['raisedhands'].astype('float').max()-new['raisedhands'].astype('float').min())

In [38]:
new['VisITedResources'].apply(np.ceil)

0      16.0
1      20.0
2       7.0
3      25.0
4      50.0
       ...
474     7.0
476    77.0
477    74.0
478    17.0
479    14.0
Name: VisITedResources, Length: 468, dtype: float64

In [39]:
new[['raisedhands','VisITedResources']].head(10)

   raisedhands  VisITedResources
0    14.531396         15.454209
1    19.531396         19.454209
2     9.531396          6.454209
3    29.531396         24.454209
4    39.531396         49.454209
5    41.531396         29.454209
6    34.531396         11.454209
7    49.531396          9.454209
8    11.531396         20.454209
9    69.531396         79.454209

In [40]:
new['GradeID'].value_counts()

G-02    142
G-08    115
G-07     98
G-04     48
G-06     31
G-11     13
G-12      9
G-09      5
G-10      4
G-05      3
Name: GradeID, dtype: int64

### Transformation of the column GradeID

In [41]:
new.GradeID.replace({"id-02":1, "id-04":2, "id-05":3,"id-06":4,"id-07":5,"id-08":6,"id-09":7,"id-10":8,"id-11":9,"id-12":10},inplace=True)

In [42]:
new['GradeID']

0      G-04
1      G-04
2      G-04
3      G-04
4      G-04
       ...
474    G-08
476    G-08
477    G-08
478    G-08
479    G-08
Name: GradeID, Length: 468, dtype: object

In [43]:
new['StudentAbsenceDays'].value_counts()

Under-7    282
Above-7    186
Name: StudentAbsenceDays, dtype: int64

### Transformation of the column StudentAbsenceDays

In [44]:
new.StudentAbsenceDays.replace({"Under-7":0,"Above-7":1},inplace=True)
new['StudentAbsenceDays'].value_counts()

0    282
1    186
Name: StudentAbsenceDays, dtype: int64

# Binning

In [45]:
new['Discussion'].value_counts()

70    23
40    22
33    20
50    18
30    16
      ..
95     1
65     1
76     1
73     1
62     1
Name: Discussion, Length: 90, dtype: int64

In [46]:
min_val=new['Discussion'].min()
max_val=new['Discussion'].max()
print(min_val)
print(max_val)

1
99

In [47]:
bins=np.linspace(min_val,max_val,4)
bins

array([ 1.        , 33.66666667, 66.33333333, 99.        ])

In [48]:
labels=['small','medium','big']

In [49]:
new['bins']=pd.cut(new['Discussion'],bins=bins,labels=labels,include_lowest=True)

In [50]:
new['bins'].value_counts()

small     215
medium    127
big       126
Name: bins, dtype: int64

In [51]:
new.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class,bins
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,14.531396,15.454209,2,20,Good,0,M,small
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,19.531396,19.454209,3,25,Good,0,M,small
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,9.531396,6.454209,0,30,Bad,1,L,small
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,29.531396,24.454209,5,35,Bad,1,L,medium
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,39.531396,49.454209,12,50,Bad,1,M,medium

In [52]:
new.to_csv('output_II.csv')

In [53]:
new=pd.read_csv("output_II.csv")
new

,Unnamed: 0,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentschoolSatisfaction,StudentAbsenceDays,Class,bins
0,0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,14.531396,15.454209,2,20,Good,0,M,small
1,1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,19.531396,19.454209,3,25,Good,0,M,small
2,2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,9.531396,6.454209,0,30,Bad,1,L,small
3,3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,29.531396,24.454209,5,35,Bad,1,L,medium
4,4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,39.531396,49.454209,12,50,Bad,1,M,medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,474,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,F,Father,1.531396,6.454209,4,8,Bad,1,L,small
464,476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,49.531396,76.454209,14,28,Bad,0,M,small
465,477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,54.531396,73.454209,25,29,Bad,0,M,small
466,478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,29.531396,16.454209,14,57,Bad,1,L,medium
467,479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,34.531396,13.454209,23,62,Bad,1,L,medium